<div>
    <h2 id="page-heading">
        <span>Fileinfos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fileinfo" [routerLink]="['/fileinfo/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Fileinfo
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="fileinfos?.length === 0">
        <span>No fileinfos found</span>
    </div>
    <div class="table-responsive" *ngIf="fileinfos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="file"><span>File</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="uploaddate"><span>Uploaddate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="notes"><span>Notes</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="filetype"><span>Filetype</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let fileinfo of fileinfos ;trackBy: trackId">
                <td><a [routerLink]="['/fileinfo', fileinfo.id, 'view' ]">{{fileinfo.id}}</a></td>
                <td>
                    <a *ngIf="fileinfo.file" (click)="openFile(fileinfo.fileContentType, fileinfo.file)">open</a>
                    <span *ngIf="fileinfo.file">{{fileinfo.fileContentType}}, {{byteSize(fileinfo.file)}}</span>
                </td>
                <td>{{fileinfo.uploaddate | date:'medium'}}</td>
                <td>{{fileinfo.notes}}</td>
                <td>{{fileinfo.filetype}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/fileinfo', fileinfo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/fileinfo', fileinfo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(fileinfo)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
